<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Herencia</title>
    <link rel="stylesheet" type="text/css" href="/css/miestilacho.css">
    <link rel="stylesheet" href="/css/productos/crearProductos.css">
    

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #b31b07;
          color: white;
        }
        .sidebarinterno{
          position: relative;
          top: -120px;
          width: 90%;
        }
        </style>

        <style>
                    /* Estilo para el fondo oscuro detrás del modal */
          .overlay {
              display: none;
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.5);
          }

          /* Estilos para el modal */
          .modal {
              display: none;
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 20px;
              background: #fff;
              z-index: 1000;
          }

          /* Estilo para el botón de cerrar el modal */
          .close-btn {
              position: absolute;
              top: 10px;
              right: 10px;
              cursor: pointer;
          }



        </style>
</head>
<body>

    <div class="sidebarinterno">
        <%-include('../views/layouts/sidebar.ejs')%>
      
    </div>
        <!--Productos-->

        <div class="productsBox">
            <div class="products">
                
                <div class="detailsProducts">
                    <div class="listProducts">
                        <div>
                            <h1>Lista de productos</h1>
                        </div>
                        <div>
                            <button id="crearProductoModal"  onclick="abrirModal()">NUEVO PRODUCTO</button>

                        </div>
                    
                        <table id="customers">
                        <tr>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                        <% for (const categoria of categorias) { %>
                            <tr class="product-row" data-product-id="<%= categoria._id %>">
                                <td><%= categoria.nombre %></td>
                  
                              <td>
                                <button type="button" class="btn btn-primary btn-edit" data-toggle="modal" data-target="#editModal" data-product-id="<%= categoria._id %>"><i class="bi bi-pencil"></i></button>
                  
                  
                                <button type="button" class="btn btn-danger" data-product-id="<%= categoria._id %>"><i class="bi bi-x-circle"></i></button>
                              </td>
                            </tr>
                          <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>

        //abrir formulario
        function abrir(){
            document.getElementById("formularioProducto").style.display="block";
        }


        //Menu toggle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('main');

        toggle.onclick = function(){
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }


        //Hovered class in selected list item
        let list = document.querySelectorAll('.navigation li');
        function activeLink(){
            list.forEach((item) => item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) => item.addEventListener('mouseover',activeLink));
    </script>

       
<!--modal para editar-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Editar Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Aquí colocarás los campos de edición, por ejemplo: -->
          <form id="editForm" enctype="multipart/form-data">
            <label for="editNombre">Nombre de categoria</label>
            <input type="text" id="editNombre" name="nombre" class="form-control">
            
            <label for="editDescripcion">Descripción</label>
            <input type="text" id="editDescripcion" name="descripcion" class="form-control">
            
            <label for="editPrecio">Precio</label>
            <input type="text" id="editPrecio" name="precio" class="form-control">
          
            <!-- Imagen antigua -->
            <img id="editPreviewImage" src="" alt="Preview Image" style="max-width: 400px; max-height: 400px; display: none">
            
            <!-- Input para cargar una nueva imagen -->
            <input type="file" name="nuevaImagen" id="editNuevaImagen" class="input" enctype="multipart/form-data" />
  
          </form>        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" id="saveChanges">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
  <!--modal para crear-->

  <!-- Modal de creación -->
  <!-- Modal de creación -->
  <div class="overlay" id="overlay"></div>

  <div class="modal" id="modal">
    <div class="close-btn" onclick="cerrarModal()">&times;</div>
    <form action="/crearcategorias" method="post">
    <!-- Campos del formulario de creación -->
    <label for="nombre">Nombre de la categoria</label>
    <input type="text" id="nombre" name="nombre" required>
    <input type="submit">
  </form>
</div>

  

<!-- Resto de tu contenido y scripts -->

<script>
function abrirModal() {
    document.getElementById("overlay").style.display = "block";
    document.getElementById("modal").style.display = "block";
}

function cerrarModal() {
    document.getElementById("overlay").style.display = "none";
    document.getElementById("modal").style.display = "none";
}


</script>
      
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $(document).ready(function () {
    $(".btn-danger").on("click", function () {
      const productId = $(this).data("product-id");
  
      $.ajax({
        type: "PUT",
        url: `https://churrasqueriaherencia.onrender.com/desactivar/${productId}`, // Ruta de la API para desactivar el producto
        success: function (response) {
          // Maneja la respuesta si es necesario
          console.log(response); // Puedes mostrar un mensaje de éxito u otra acción aquí
  
          // Elimina la fila de la tabla correspondiente al producto desactivado
          $(`.product-row[data-product-id="${productId}"]`).remove();
        },
        error: function (error) {
          console.error(error); // Maneja el error si es necesario
        },
      });
    });
  });
  
    </script>
    
      <!--la wea para editar -->
      <script>
        $(document).ready(function () {
      // Función para obtener los detalles del producto por su ID
      function obtenerProductoPorId(productId, callback) {
        $.ajax({
          type: "GET",
          url: `https://churrasqueriaherencia.onrender.com/producto/${productId}`,
          success: function (response) {
            callback(response.product);
          },
          error: function (error) {
            console.error(error);
          },
        });
      }
    
      // Abre el modal y carga los detalles del producto
      $(".btn-edit").on("click", function () {
        const productIdToEdit = $(this).data("product-id");
    
        obtenerProductoPorId(productIdToEdit, function (product) {
          $("#editNombre").val(product.nombre);
          $("#editDescripcion").val(product.descripcion);
          $("#editPrecio").val(product.precio);
    
          // Mostrar la imagen antigua en el modal
          $("#editPreviewImage").attr("src", product.imagen);
          $("#editPreviewImage").css("display", "block");
    
          // Guarda el ID del producto en el botón "Guardar Cambios"
          $("#saveChanges").data("product-id", productIdToEdit);
        });
      });
    
      // Guarda los cambios al hacer clic en el botón "Guardar Cambios"
      $("#saveChanges").on("click", function () {
      const formData = new FormData(document.getElementById("editForm"));
      const productIdToEdit = $(this).data("product-id");
    
      // Añade el archivo a la solicitud AJAX
      formData.append("nuevaImagen", $("#editNuevaImagen"));
    
      // Envía la solicitud AJAX
      $.ajax({
        type: "PUT",
        url: `https://churrasqueriaherencia.onrender.com/editar/${productIdToEdit}`,
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          if(response.message == "Producto editado"){
            console.log(response);
            location.reload();
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    });
    });
    
    </script>
       
</body>
</html>