<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Herencia</title>
    <link rel="stylesheet" type="text/css" href="/css/miestilacho.css">
    <link rel="stylesheet" href="/css/productos/crearProductos.css">
   
 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
       
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
       
        #customers tr:nth-child(even){background-color: #f2f2f2;}
       
        #customers tr:hover {background-color: #ddd;}
       
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #b31b07;
          color: white;
        }
        .sidebarinterno{
          position: relative;
          top: -120px;
          width: 90%;
        }
        </style>
 
        <style>
                    /* Estilo para el fondo oscuro detrás del modal */
          .overlay {
              display: none;
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.5);
          }
 
          /* Estilos para el modal */
          .modal {
              display: none;
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 20px;
              background: #fff;
              z-index: 1000;
          }
 
          /* Estilo para el botón de cerrar el modal */
          .close-btn {
              position: absolute;
              top: 10px;
              right: 10px;
              cursor: pointer;
          }
 
 
 
        </style>
</head>
<body>
 
    <div class="sidebarinterno">
        <%-include('../views/layouts/sidebar.ejs')%>
     
    </div>
        <!--Productos-->
 
        <div class="productsBox">
            <div class="products">
               
                <div class="detailsProducts">
                    <div class="listProducts">
                        <div>
                            <h1>Lista de productos</h1>
                        </div>
                        <div>
                            <button id="crearProductoModal"  onclick="abrirModal()">NUEVO PRODUCTO</button>
 
                        </div>
                   
                        <table id="customers">
                        <tr>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                        <% for (const product of productos) { %>
                            <tr class="product-row" data-product-id="<%= product._id %>">
                                <td><%= product.nombre %></td>
                                <td><img src="<%= product.imagen %>" width="120px" height="120px"></td>
                                <td><%= product.descripcion %></td>
                              <td><%= product.precio %></td>
                             
                             
                              <td>
                                <button type="button" class="btn btn-primary btn-edit" data-toggle="modal" data-target="#editModal" onclick="abrirModaleditar()"><i class="bi bi-pencil"></i></button>
                 
                 
                                <button type="button" class="btn btn-danger" data-product-id="<%= product.id_producto %>"><i class="bi bi-x-circle"></i></button>
                              </td>
                            </tr>
                          <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
   
 
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
 
    <script>
 
        //abrir formulario
        function abrir(){
            document.getElementById("formularioProducto").style.display="block";
        }
 
 
        //Menu toggle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('main');
 
        toggle.onclick = function(){
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
 
 
        //Hovered class in selected list item
        let list = document.querySelectorAll('.navigation li');
        function activeLink(){
            list.forEach((item) => item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) => item.addEventListener('mouseover',activeLink));
    </script>
 
       
  <!-- Modal de creación -->
  <div class="overlay" id="overlay"></div>
 
  <div class="modal" id="modal">
    <div class="close-btn" onclick="cerrarModal()">&times;</div>
   
    <div class="productsBox">
      <div class="products">
          <section class="form-register">
              <div>
                  <h1>Productos</h1>
              </div>
              
              <form
              class="form"
              action="/productos"
              method="POST"
              enctype="multipart/form-data">
              <p class="title">Registrar nuevo producto</p>
              <br />

              <label>
                  <span>Nombre del producto</span>
                  <input
                  type="text"
                  name="nombre"
                  id="nombre"
                  placeholder="Nombre del producto"
                  class="input"
                  />
                  
              </label>

              <label>
                  <span>Descripción</span>
                  <input
                  type="text"
                  name="descripcion"
                  id="descripcion"
                  placeholder="Descripción...."
                  class="input"
                  />
                  
              </label>

              <label>
                  <span>Precio</span>
                  <input
                  type="text"
                  name="precio"
                  id="precio"
                  placeholder="100"
                  class="input"
                  />
                  
              </label>
              <!--fats fats no te olvides de los estilos crack-->
              <label for="id_categoria">Categoría</label>
              <select name="id_categoria" id="categoria" class="input">
                <option value="">Selecciona una categoría</option>
                <% for (const categoria of categorias) { %>
                  <option value="<%= categoria.id_categoria %>">
                    <%= categoria.nombre %>
                  </option>
                  <% } %>
                  
              </select>
              <label for="imagen">Imagen</label>
              <input type="file" name="imagen" id="imagen" class="input" />
              <img
                  id="previewImage"
                  src=""
                  alt="Preview Image"
                  style="max-width: 400px; max-height: 400px; display: none"
              />

              <script>
                  // Obtener referencias a los elementos HTML
                  const inputFile = document.getElementById("imagen");
                  const previewImage = document.getElementById("previewImage");

                  // Agregar un evento change al input file
                  inputFile.addEventListener("change", function () {
                  const selectedFile = this.files[0]; // Obtener el archivo seleccionado

                  if (selectedFile) {
                      // Crear una URL temporal para mostrar la imagen seleccionada
                      const imageUrl = URL.createObjectURL(selectedFile);

                      // Mostrar la imagen en el elemento <img> y hacerlo visible
                      previewImage.src = imageUrl;
                      previewImage.style.display = "block";
                  } else {
                      // Si no se selecciona ningún archivo, ocultar el elemento <img>
                      previewImage.src = "";
                      previewImage.style.display = "none";
                  }
                  });
              </script>

              <button class="submit" type="submit">Registrar</button>
              </form>
          </section>
      </div>
  </div>
</div>
 
<!-- Modal de creación -->
<div class="overlay" id="overlayeditar"></div>
 
<div class="modal" id="modaleditar">
  <div class="close-btn" onclick="cerrarModaleditar()">&times;</div>
 
  <div class="productsBox">
    <div class="products">
        <section class="form-register">
            <div>
                <h1>Productos</h1>
            </div>
            
            <form
            class="form"
            action="/productoseditar"
            method="POST"
            enctype="multipart/form-data">
            <p class="title">Editar Productos</p>
            <br />

            <label>
                <span>Nombre del producto</span>
                <input
                type="text"
                name="nombre"
                id="nombre"
                placeholder="Nombre del producto"
                class="input"
                />
                
            </label>

            <label>
                <span>Descripción</span>
                <input
                type="text"
                name="descripcion"
                id="descripcion"
                placeholder="Descripción...."
                class="input"
                />
                
            </label>

            <label>
                <span>Precio</span>
                <input
                type="text"
                name="precio"
                id="precio"
                placeholder="100"
                class="input"
                />
                
            </label>
            <!--fats fats no te olvides de los estilos crack-->
            <label for="id_categoria">Categoría</label>
            <select name="id_categoria" id="categoria" class="input">
              <option value="">Selecciona una categoría</option>
              <% for (const categoria of categorias) { %>
                <option value="<%= categoria.id_categoria %>">
                  <%= categoria.nombre %>
                </option>
                <% } %>
                
            </select>
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" id="imagen" class="input" />
            <img
                id="previewImage"
                src=""
                alt="Preview Image"
                style="max-width: 400px; max-height: 400px; display: none"
            />

            <button class="submit" type="submit">Registrar</button>
            </form>
        </section>
    </div>
</div>
</div>
 
 
<!-- Resto de tu contenido y scripts -->
 
<script>
function abrirModal() {
    document.getElementById("overlay").style.display = "block";
    document.getElementById("modal").style.display = "block";
}
 
function cerrarModal() {
    document.getElementById("overlayeditar").style.display = "none";
    document.getElementById("modal").style.display = "none";
}
 
function abrirModaleditar() {
    document.getElementById("overlayeditar").style.display = "block";
    document.getElementById("modaleditar").style.display = "block";
}
 
function cerrarModaleditar() {
    document.getElementById("overlayeditar").style.display = "none";
    document.getElementById("modaleditar").style.display = "none";
}
</script>
     
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $(document).ready(function () {
    $(".btn-danger").on("click", function () {
      const productId = $(this).data("product-id");
 
      $.ajax({
        type: "DELETE",
        url: `https://herencia-api.onrender.com/productos/${productId}`, // Ruta de la API para desactivar el producto
        success: function (response) {
          // Maneja la respuesta si es necesario
          console.log(response); // Puedes mostrar un mensaje de éxito u otra acción aquí
          location.reload()
          // Elimina la fila de la tabla correspondiente al producto desactivado
          $(`.product-row[data-product-id="${productId}"]`).remove();
        },
        error: function (error) {
         
          console.error(productId); // Maneja el error si es necesario
        },
      });
    });
  });
 
    </script>
   
      <!--la wea para editar -->
      <script>
        $(document).ready(function () {
      // Función para obtener los detalles del producto por su ID
      function obtenerProductoPorId(productId, callback) {
        $.ajax({
          type: "GET",
          url: `https://churrasqueriaherencia.onrender.com/producto/${productId}`,
          success: function (response) {
            callback(response.product);
          },
          error: function (error) {
            console.error(error);
          },
        });
      }
   
      // Abre el modal y carga los detalles del producto
      $(".btn-edit").on("click", function () {
        const productIdToEdit = $(this).data("product-id");
   
        obtenerProductoPorId(productIdToEdit, function (product) {
          $("#editNombre").val(product.nombre);
          $("#editDescripcion").val(product.descripcion);
          $("#editPrecio").val(product.precio);
   
          // Mostrar la imagen antigua en el modal
          $("#editPreviewImage").attr("src", product.imagen);
          $("#editPreviewImage").css("display", "block");
   
          // Guarda el ID del producto en el botón "Guardar Cambios"
          $("#saveChanges").data("product-id", productIdToEdit);
        });
      });
   
      // Guarda los cambios al hacer clic en el botón "Guardar Cambios"
      $("#saveChanges").on("click", function () {
      const formData = new FormData(document.getElementById("editForm"));
      const productIdToEdit = $(this).data("product-id");
   
      // Añade el archivo a la solicitud AJAX
      formData.append("nuevaImagen", $("#editNuevaImagen"));
   
      // Envía la solicitud AJAX
      $.ajax({
        type: "PUT",
        url: `https://churrasqueriaherencia.onrender.com/editar/${productIdToEdit}`,
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          if(response.message == "Producto editado"){
            console.log(response);
            location.reload();
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    });
    });
   
    </script>
       
</body>
</html>